.main{
    background-color: ;
}
.cafe_img{
    width: 200px;
    height: 150px;

}
.coffee-header{
    margin-bottom: 50px;
    text-align: center;
    padding:20px;


}
h5{
        line-height: 3;
        font-size: 40px;

}
.message{
    color: red;
    padding_left: 30px;
}
