
{% include 'header.html' %}
<meta name=”viewport” content=”width=device-width, initial-scale=1.0">
    <body class="main">
        <div class="coffee-header">
            <h5> COFFEE MAX </h5>
            <p> We give you a collection of coding friendly cafes around your city, </p>
            <em> where you can code et' drink coffee. </em>
        </div>
    <div class="container">
        <table class="table">

<!--      I need to make this table responsive -->

        <thead>
        <tr>

          <th scope="col">#</th>
          <th scope="col"> Name </th>
          <th scope="col"> Map url </th>
          <th scope="col"> Cafe picture </th>
          <th scope="col"> Location </th>
          <th scope="col"> Sockets </th>
          <th scope="col"> Toilet </th>
          <th scope="col"> Wifi </th>
         <th scope="col"> Call Reception </th>
         <th scope="col"> Seats </th>
         <th scope="col"> Coffee Price </th>
        </tr>
      </thead>
      <tbody>
        {% for caf in cafes %}
        <tr>
          <th scope="row">{{ caf.id }}</th>
            <td>{{ caf.name }}</td>
            <td><button class="btn btn-light" onclick="window.open('{{caf.map_url}}')"> Location </button></td>
          <td><img class="cafe_img" src="{{ caf.image_url }}"></td>
          <td>{{caf.location}}</td>
          <td>{{ caf.has_socket }}</td>
          <td>{{ caf.has_toilet }}</td>
          <td>{{ caf.has_wifi }}</td>
          <td>{{ caf.can_take_calls }}</td>
          <td>{{ caf.seats }}</td>
          <td>{{ caf.coffee_price }}</td>

        </tr>
        {% endfor %}

      </tbody>


    </table>
               {% with messages = get_flashed_messages() %}
                {% if messages %}
               {% for message in messages %}
                <p class="message"> {{ message }} </p>
                {% endfor %}
                {% endif %}
                {% endwith %}                                                         
    </div>


</body>


{% include 'footer.html' %}
